@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Lato, sans-serif;
  font-size: 15px;
  background: #f2f2f2;
  background: -webkit-linear-gradient(to top, #fff, #f2f2f2);
  background:    -moz-linear-gradient(to top, #fff, #f2f2f2);
  background:         linear-gradient(to top, #fff, #f2f2f2);
}

a {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus,
a:active {
  color: #444;
}

header {
  min-width: 1366px;
  height: 130px;
  margin-bottom: 2px;
  background-color: #fff;
}

.header__top {
  width: 1020px;
  height: 65px;
  margin: 0 auto;
  padding: 12px 15px 0px;
  display: flex;
  justify-content: flex-end;
}

.header__top img {
  padding-left: 10px;
}

#logreg {
  font-size: 14px;
}

#logreg a:first-child {
  padding-left: 20px;
}

#logreg span {
  padding: 0px 1px 0px;
}

.header__bottom {
  width: 1020px;
  height: 65px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header__help {
  width: 33.333%;
  height: 65px;
  align-self: center;
}

.header__help span:first-of-type {
  color: #666;
  line-height: 1.4;
}

.header__help span:nth-of-type(2) {
  font-weight: bold;
}

#smartphone {
  padding-top: 3px;
  padding-right: 7px;
  float: left;
}

.header__title {
  width: 33.333%;
  height: 65px;
  align-self: center;
}

.header__title > h1 {
  font-size: 52.5px;
  font-weight: 300;
  line-height: .7;
  letter-spacing: -2.63px;
  text-align: center;
  padding-right: 24px;
  padding-bottom: 19px;
  color: #000;
}

.header__search {
  width: 33.333%;
  height: 65px;
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.header__search-container {
  width: 200px;
  height: 35px;
  border-radius: 17.5px;
  position: relative;
}

input {
  width: 100%;
  height: 35px;
  display: block;
  border-radius: 17.5px;
  padding-left: 33px;
  font-size: 14px;
  outline: none;
  border: 1px solid #999;
}

.header__btn {
  position: absolute;
  left: 11px;
  top: 10px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  color: #f2f2f2;
  border-radius: 50%; 
  outline: none;
  border:none;
}

nav {
  min-width: 1366px;
  height: 60px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.67;
  background-color: #fff;
}

.nav__list {
  width: 1020px;
  margin: 0 auto;
  padding: 0px 15px;
  list-style: none;
  position: relative;
}

.nav__list-item {
  display: inline-block;
  margin-top: 17px;
}

.nav__list-item + .nav__list-item {
  margin-left: 18px;
}

.nav__list-item:last-child {
  font-size: 14px; 
  margin-left: 85px;
}

.nav__list-img {
  position: absolute;
  top: 20px;
  right: 71px;
}

.undernav {
  min-width: 1366px;
  height: 70px;
  margin-bottom: 5px;
  background-color: #fff;
}

.undernav__content {
  width: 1020px;
  margin: 0 auto;
  padding: 0px 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.undernav__content > div {
  margin-top: 22px;
}

main {
  min-width: 1366px;
  height: 1660px;
  margin-bottom: 35px;
}

.main__content {
  width: 1020px;
  height: 505px;
  margin: 0 auto 55px;
  padding: 0 15px;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: repeat(3, 165px);
  grid-gap: 5px 5px;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 165px);
  grid-row-gap: 5px;
}
.sidebar > div:nth-child(-n+3) {
  padding-left: 25px;
  background-color: #fff;
}

.sidebar p {
  width: 93px;
  height: 36px;
  margin-top: 18px;
}

.p-item_1 {
  margin-bottom: -19px;
  color: #666
}

.p-item_2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.19;
}

.sidebar__dotted_1 {
  margin-top: 17px;
}

.sidebar__dotted_2 {
  margin-bottom: 13px;
}

.sidebar div > span {
  display: block;
  margin-top: -4px;
}

.sidebar__btn {
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 13px;
  margin-left: 2px;
}

.sidebar__btn img {
  margin-top: 2px;
  margin-left: 1px; 
  cursor: pointer;
}

.main__box {
  grid-column: 2;
  grid-row: span 3;
  background-image: url('../images/flowers-main.png');
  background-repeat: no-repeat;
}

.main__title {
  width: 284px;
  height: 36px;
  font-family: "Dancing Script", Roboto, sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 0.69;
  margin: 184px 0px 0px 402px; 
}

#title-style {
  color:  #fc6f56;
}

.main__subtitle {
  width: 265px;
  height: 20px;
  font-size: 21px;
  line-height: 1.19;
  margin: 16px 0px 21px 402px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 35px;
}

.main__btn {
  display: inline-block;
  width: 136px;
  height: 33px;
  font-weight: bold;
  line-height: 1.67;
  text-align: center;
  background-color: #F8F8FF;
  border: 1px solid black;
  border-radius: 16.5px;
  cursor: pointer;
  padding: 5px 42px 9px 24px;
  margin: -2px 0px 0px 466px;
  position: relative;
}

.main__btn:hover,
.main__btn:focus,
.main__btn:active {
  color: #333;
  background-color: #F5F5F5;
  border-color: #ccc;
}


#main-img-btn {
  position: absolute;
  top: 10px;
  right: 23px;
}

.products {
  width: 1020px;
  margin: 0 auto;
  padding: 0px 15px;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: repeat(3, 48px 282px 44px);
  column-gap: 30px;
}
.products__title{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.39;
  text-align: left;
}

.products__subtitle {
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  margin-bottom: 16px;
}

.products__img {
  width: 225px;
  height: 209px;
  padding: 17px 19px 17px 20px;
  background-color: #fff;
}

.products__price {
  width: 161px;
  height: 25px;
  margin: 8px 32px 0px 36px;
}

.products__price span {
  padding-right: 7px;
}

.products__btn {
  width: 96px;
  height: 25px;
  font-size: 13px;
  line-height: 1.92;
  color: #000;
  border-radius: 12.5px;
  border: solid 1px #000;
  background-color: #fff;
  cursor: pointer;
} 

.products__item_1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.products__item_2 { 
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.products__item_3 {
  grid-column: 3 /4;
  grid-row: 2 / 3;
}

.products__item_4 { 
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

#second-title {
  grid-column: span 4;
  grid-row: 4 / 5; 
}

.products__item_5 {
  grid-column: 1 / 2;
  grid-row: 5 / 6; 
}

.products__item_6 {
  grid-column: 2 / 3;
  grid-row: 5 / 6; 
}

.products__item_7 {
  grid-column: 3 / 4;
  grid-row: 5 / 6; 
}

.products__item_8 {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

#third-title {
  grid-column: span 4;
  grid-row: 7 / 8;
}

.products__item_9 {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
}

.products__item_10 {
  grid-column: 2 / 3;
  grid-row: 8 / 9; 
}

.products__item_11 {
  grid-column: 3 / 4;
  grid-row: 8 / 9; 
}

.products__item_12 {
  grid-column: 4 / 5;
  grid-row: 8 / 9;
}

footer {
  min-width: 1366px;
  height: 477px;
  background-color: #f2f2f2;
}  

.footer__top {
  width: 1020px;
  height: 401px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-flow: row wrap;
}

.footer__column_1 {
  width: 179px;
  height: 268px;
  margin-top: 75px;
  margin-right: 76px;
  font-size: 13px;
  line-height: 2;
  text-align: left;
}

.footer__column_1 h4 {
  font-weight: bold;
  line-height: 1.92;
  padding-bottom: 9px;
}

.footer__column_2 {
  width: 133px;
  height: 168px;
  margin-top: 75px;
  margin-right: 72px;
  font-size: 13px;
  line-height: 2;
  text-align: left;
}

.footer__column_2 h4 {
  font-weight: bold;
  line-height: 1.92;
  padding-bottom: 9px;
}

.footer__column_3 {
  width: 225px;
  height: 237px;
  margin-top: 75px;
  margin-right: 48px;
  font-size: 13px;
  line-height: 2;
  text-align: left;
}

.footer__column_3 h4 {
  font-weight: bold;
  line-height: 1.92;
  padding-bottom: 9px;
}

#user-name {
  font-size: 13px;
  text-align: left;
  margin-top: 14px;
  margin-bottom: 15px;
}

.footer__btn {
  display: inline-block;
  width: 225px;
  height: 40px;
  font-size: 13px;
  line-height: 1;
  color: #fff;
  text-align: center;
  margin-top: 13px;
  border-radius: 18px;
  border: none;
  background-color:  #6fb07f;
  cursor: pointer;

  
}

.footer__column_4 {
  width: 257px;
  height: 250px;
  margin-top: 75px;
  font-size: 13px;
  line-height: 2;
  text-align: left;
}

.footer__column_4 p:first-of-type {
  margin-bottom: 20px;
  background-image: url('../icons/footer/quotation.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 19px;
}

.footer__column_4 p:nth-of-type(2) {
  background-image: url('../icons/footer/quotation.png');
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 19px;
  line-height: 1.92;
}

.footer__column_4 h4 {
  font-weight: bold;
  line-height: 1.92;
  padding-bottom: 16px;
}

.footer__bottom {
  min-width: 1366px;
  height: 70px;
  margin-bottom: 6px;
  padding: 0 15px;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.footer__social + .footer__social {
  padding-left: 10px;
}

.footer__bottom div:nth-of-type(1) {
  margin-left: auto;
}

.footer__bottom div:nth-of-type(2) {
  margin-left: 255px;
  margin-right: 330px;
  text-align: center;
  color: #999;
}

.footer__bottom div:nth-of-type(3) {
  margin-right: auto;
}
