html {
	box-sizing: border-box;
}
*, *:after, *:before {
	box-sizing: inherit;
}
body {
	margin: 0 auto;
}
img {
	border: 3px solid #000;
	box-shadow: 3px 3px 9px 0px #888;
}
.container {
	width: 1440px;
	height: 0 auto;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.box1 img{
	width: 225px;
	height: 300px;
	margin-top: 18px;
	margin-left: 18px; 
}
.box2 img{
	width: 360px;
	height: 270px;
	margin-top: 33px;
	margin-left: 20px;
}
.box3 img{
	width: 200px;
	height: 200px;
	margin-top: 68px;
	margin-left: 20px;
}
.box4 img{
	width: 360px;
	height: 190px;
	margin-top: 73px;
	margin-left: 20px;
}
.box5 img{
	width: 225px;
	height: 300px;
	margin-top: 20px;
	margin-left: 18px;
}
.box6 img{
	width: 360px;
	height: 270px;
	margin-top: 35px;
	margin-left: 20px; 
}